<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>

<div class="container bootstrap snippets bootdeys">
    <div class="col-md-7 col-md-offset-2">
        <header th:replace="~{fragments :: header}"></header>
        <div class="panel">
            <div class="panel-body">
                <h4>Notes Service Application</h4>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
