<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: head}"></head>

<body>

<div class="container bootstrap snippets bootdeys">
    <div class="col-md-7 col-md-offset-2">
        <header th:replace="~{fragments :: header}"></header>
        <div class="panel">
            <div class="panel-body">
                
                <table class="table table-sm table-striped">
                    <tr>
                        <th>User Name</th>
                        <th>Role</th>
                    </tr>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.role}"></td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/users.js}" type="text/javascript"></script>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>